body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    /* grid-template-columns:  */
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-image : url("../images/cloud.jpg") ;
    background-repeat: no-repeat;
    background-size: auto;
    transition: background-image 0.5s ease;
}


.holderEntry{
    text-align: center;
    background-color: #353B45;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

.holderHeadline{
    font-size: 38px;
    text-decoration: underline;
}

.title{
    font-size: 25px;
}

#date{
 margin: auto;
 color: white;
 font-size: 20px;
}

#nameOfCity{
 margin: auto;
 color: white;
 font-size: 20px;
}

#temp{
margin: auto;
color: white;
font-size: 20px;
}

#content{
margin: auto;
color: white;
font-size: 20px;
}




/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: #353B45;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: black;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
button:hover{
    background:lightblue;
}

.loading{
    border: 4px solid black;
}

h1{
    font-size: 36px;
}

textarea{
    background:#353B45;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 